# Key Data Structures in Pandas

Pandas is built around two powerful data structures:

1. **Series** – one-dimensional, like a column in Excel
2. **DataFrame** – two-dimensional, like a table or spreadsheet

---

## What is a Pandas Series?

A Series is:
- A one-dimensional labeled array
- Can hold any data type (int, float, string, etc.)
- Think of it like a single column of data

### Example:

In [7]:
import pandas as pd

data = [10, 20, 30, 40]
labels = ['a', 'b', 'c', 'd']

series = pd.Series(data, index=labels)
print(series)

a    10
b    20
c    30
d    40
dtype: int64

---

## What is a Pandas DataFrame?

A DataFrame is:
- A two-dimensional table of rows and columns
- Built from dictionaries, lists of lists, or other Series
- It’s like a full Excel sheet in Python

### Example:

In [8]:
data = {
    'Name': ['Kashish', 'Ankit', 'Priya'],
    'Age': [22, 24, 21],
    'City': ['Delhi', 'Mumbai', 'Chennai']
}

df = pd.DataFrame(data)
print(df)

      Name  Age     City
0  Kashish   22    Delhi
1    Ankit   24   Mumbai
2    Priya   21  Chennai

---

## Summary

| Feature      | Series                       | DataFrame                     |
|--------------|------------------------------|-------------------------------|
| Dimension    | 1D                           | 2D                            |
| Structure    | Labeled array                | Table of rows and columns     |
| Use case     | Single column or list-like   | Dataset with multiple columns |

Both are flexible, powerful, and essential for data manipulation in Pandas.