# Indexing in Pandas

To access rows and columns in a DataFrame, Pandas provides two powerful tools:

- `.loc[]` → label-based indexing (row/column names)
- `.iloc[]` → position-based indexing (row/column numbers)

In [2]:
import numpy as np
import pandas as pd

## Sample DataFrame for Indexing

In [4]:
df = pd.DataFrame(
    data=np.arange(0, 20).reshape(5, 4),
    index=["Row1", "Row2", "Row3", "Row4", "Row5"],
    columns=["Col1", "Col2", "Col3", "Col4"]
)
df

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

## Column Selection
### 1. Accessing Single Column (returns Series)

In [4]:
df['Col1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Col1, dtype: int32

### 2. Accessing Multiple Columns (returns DataFrame)

In [5]:
df[['Col1', 'Col2', 'Col3']]

      Col1  Col2  Col3
Row1     0     1     2
Row2     4     5     6
Row3     8     9    10
Row4    12    13    14
Row5    16    17    18

  **Difference:**
- One column = `Series`
- More than one column = `DataFrame`

In [7]:
print(type(df['Col1']))        # Series
print(type(df[['Col1', 'Col2']]))  # DataFrame

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

## Row Selection with `.loc[]` (label-based)

In [8]:
# Single row
df.loc['Row3']

Col1     8
Col2     9
Col3    10
Col4    11
Name: Row3, dtype: int32

In [9]:
# Multiple rows
df.loc[['Row1', 'Row2']]

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7

## Row & Column by Position with `.iloc[]`

In [10]:
# Get rows from index 2 to 4 (excluding 4) and columns 0 to 2 (excluding 2)
df.iloc[2:4, 0:2]

      Col1  Col2
Row3     8     9
Row4    12    13

`Always Remember` : Indexing starts from 0 (like Python lists)

## Summary

| Access Type     | Syntax           | Based On     |
|------------------|------------------|----------------|
| Single Column     | `df['Col1']`     | Column Name   |
| Multiple Columns  | `df[['Col1','Col2']]` | Column Names |
| Row by Label      | `df.loc['Row3']` | Row Name      |
| Row by Index      | `df.iloc[2]`     | Row Position  |
| Slice Rows & Cols | `df.iloc[1:4, 0:2]` | Row & Col Indexes |

Use `.loc[]` when you know **names**, and `.iloc[]` when you know **positions**.

## Bonus: Convert DataFrame to NumPy Array

You can convert a selected part of the DataFrame to a NumPy array using `.values`.

In [5]:
# Drop the first column (Col1) and convert the rest to NumPy array
df.iloc[:, 1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

This returns a NumPy array of the selected data.

Useful when you're doing mathematical operations or want to integrate with NumPy-based libraries.